@import "../../bower_components/compass-sass-mixins/lib/compass";
@import "../../bower_components/compass-sass-mixins/lib/compass/reset";
@import "variables";
$icon-font-path: '/bower_components/bootstrap-sass/assets/fonts/bootstrap/';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';
$ionicons-font-path: '/bower_components/Ionicons/fonts';
@import '../../bower_components/Ionicons/scss/ionicons.scss';
@import "header";
@import "sprite";
html {
   max-width: 768px;
   width: 768px;
}

body {
   //  padding-top: $navHeight + 30px;
   padding-top: $navHeight;
   background-color: #fff;
   font-family: GothamPro, Tahoma, sans-serif;
   max-width: 768px;
   width: 768px;
}

a {
   color: inherit;
}

.btn {
   padding: 8px 12px;
   color: white;
   font-size: 10px;
   font-weight: 700;
   text-transform: uppercase;
   border: 1px solid white;
   @include border-radius(0);
   &.btn-black {
      border-color: black;
      color: black;
   }
}

.h1,
h1 {
   position: relative;
   margin: 0 0 26px;
   color: $color-black;
   font-size: 20px;
   font-weight: normal;
   line-height: normal;
   text-transform: uppercase;
}

h2 {
   margin: 0 0 22px;
   position: relative;
   color: $color-black;
   font-size: 15px;
   font-weight: normal;
   text-transform: uppercase;
}

h3 {
   margin: 0 0 16px;
   color: black;
   font-weight: 400;
   font-size: 13px;
   line-height: 140%;
}

h4 {}

h5 {
   margin-bottom: 10px;
   color: black;
   font-size: 12px;
   font-weight: 400;
}

p {
   margin-bottom: 14px;
   font-size: 12px;
   line-height: 140%;
}

.more_link {
   margin: 30px 0 20px;
   display: block;
   text-align: center;
   color: #010101;
   font-size: 12px;
   font-weight: 400;
   text-transform: uppercase;
   line-height: normal;
   i {
      display: block;
      font-size: 30px;
      line-height: 10px;
   }
}

.share {
   margin-bottom: 14px;
   padding: 20px 0;
}

footer {
   margin-top: 20px;
   font-size: 10px;
}

@include tablet {
   .container {
      padding-left: 25px;
      padding-right: 25px;
   }
   footer {
      background: black none repeat scroll 0 0;
      padding: 30px 0 35px;
      margin-top: 0;
      .col-xs-12 {
         margin: 0 auto;
         text-align: center;
         h2 {
            color: $color-white;
            font-size: 15px;
            font-weight: normal;
            text-transform: none;
         }
         .social_links {
            line-height: 20px;
            margin: 0;
            padding: 0;
            vertical-align: top;
            margin: 0 0 12px;
            > a {
               height: 47px;
               width: 47px;
               display: inline-block;
               margin: 0 22px;
            }
            .join_fb {
               background: transparent url("../images/icon-facebook.png") no-repeat scroll 0 0;
            }
            .join_tw {
               background: transparent url("../images/icon-twitter.png") no-repeat scroll 0 0;
            }
            .join_inst {
               background: transparent url("../images/icon-inst.png") no-repeat scroll 0 0;
            }
         }
         h3 {
            color: #6d6d6d;
            font-size: 18px;
         }
      }
   }
}

////////////////////////
// @mixin sprite-image($sprite) {
//   $sprite-image: nth($sprite, 9);
//   background-image: url(../images/#{$sprite-image});
// }
.icon-vk {
   @include sprite($vk);
   display: inline-block;
   &:hover {
      @include sprite($vk-hover);
   }
}

.icon-tw {
   @include sprite($tw);
   display: inline-block;
   &:hover {
      @include sprite($tw-hover); 
   }
}

@import "elements",
"templates";
